#app {

  #box {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    margin: auto;
    top: 200px;
    cursor: pointer;

    .mini {
      width: 100px;
      height: 100px;
      background-color: blue;
      position: absolute;
      z-index: -1;
    }
  }
}
